h1 {
  text-align: center;
  margin-top: 20px;
}

table {
  border: #fff;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border-radius: 5px;
  border: #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #333;

}

tr:hover {
  background-color: #ddd;
}

.app-class {
  background-color: #333;
  color: #fff;

}